*{margin:0;
padding: 0;
font-family:"Ysabeau";
}
@font-face {
    font-family:"Ysabeau";
    src: url(./YsabeauOffice-VariableFont_wght.ttf);
}
@font-face {
    font-family:"Cinzel";
    src: url(./Cinzel-VariableFont_wght.ttf);
}
#body{
background-color: black;
padding-top: 5vh;
padding-bottom: 5vh;
}
.mediumBox{
    display: flex;
    justify-content:space-around;
    padding-bottom: 5vh;

}
.Molecule{
    display: flex;
     flex-direction: column; 
} 
.main img{
    height: 16vh;
    width: 14vw;
    border-radius: 15px;

}
.main p{
    color: white;
    width: 14vw;
    text-align: justify;
}

.main h2{
    color: white;
    font: size 2vw;
}

.yellow{
    background: yellow;
    height: 1vh;
    width: 100%;
}
a{text-decoration: none;
color: yellow;
}
