* {
    margin: 0;
    padding: 0;
    font-family: "Ysabeau";
}

@font-face {
    font-family: "Ysabeau";
    src: url(./YsabeauOffice-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Cinzel";
    src: url(./Cinzel-VariableFont_wght.ttf);
}


.contenedor {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    text-align: center;
    
}
 .imagen{
    background-size: cover;
    width:100%;
}

.centrado {
    position: absolute;
    top: 25%;
    right: 75%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: xx-large;
    font-family:"Ysabeau";
    src: url(./YsabeauOffice-VariableFont_wght.ttf);

}
.control h1{
    position: absolute;
    top: 40%;
    right: 70%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size:xx-large;
    font-family:"Ysabeau";
    src: url(./YsabeauOffice-VariableFont_wght.ttf);
}

.subtitle {
    position: absolute;
    top: 50%;
    right: 75%;
    color: antiquewhite;
    font-family:"Cinzel";
    src: url(./Cinzel-VariableFont_wght.ttf);
}

